In [6]:
import pickle

In [7]:
with open ('my_pickles/movie_budgets.p', 'rb') as readfile:
    df = pickle.load(readfile)

In [8]:
df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,difference,return_percent
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2351345279,553.257713
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,154.667286
2,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-200237650,-57.210757
3,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,1072413963,324.384139
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,999721747,315.369636